body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  flex-direction: column;
}

.weather-card {
  background-color: #4e89ae;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
  width: 400px;
}

.location {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

.city {
  color: #ffd700;
}

.country {
  color: #b0e0e6;
}

.temperature {
  font-size: 96px;
  font-weight: bold;
  color: #ffd700;
  margin-bottom: 20px;
}

.conditions {
  font-size: 36px;
  text-transform: capitalize;
}


.search-name{
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px 15px;
  margin-right: 10px;
}

.onclick{
  border: none;
  border-radius: 10px;
  padding: 15px 15px;
  background-color: black;
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}